annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
attrs==26.1.0
beautifulsoup4==4.12.2
blis==1.3.3
catalogue==2.0.10
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
cloudpathlib==0.24.0
confection==1.3.3
cymem==2.0.13
duckduckgo_search==8.1.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
Jinja2==3.1.6
lxml==6.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
murmurhash==1.0.15
numpy==2.5.0
outcome==1.3.0.post0
packaging==26.2
psycopg2-binary==2.9.10
preshed==3.0.13
primp==1.3.1
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
rich==15.0.0
selenium==4.45.0
setuptools==82.0.1
shellingham==1.5.4
smart_open==8.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.4
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.51
srsly==2.5.3
thinc==8.3.13
tqdm==4.66.1
trio==0.33.0
trio-websocket==0.12.2
typer==0.26.8
typing-inspection==0.4.2
typing_extensions==4.15.0
undetected-chromedriver==3.5.5
Unidecode==1.4.0
urllib3==2.7.0
wasabi==1.1.3
weasel==1.0.0
websocket-client==1.9.0
websockets==16.0
wrapt==2.2.2
wsproto==1.3.2
xx_ent_wiki_sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.8.0/xx_ent_wiki_sm-3.8.0-py3-none-any.whl#sha256=6f3c4b853852ea9e9d2dc76cc950dddb10a7e4c42d813308caefe6c5e8be2f0a
